/* You can add global styles to this file, and also import other style files */
*{
    z-index:2;
    list-style: none;

}
img{
    cursor: pointer;
    transition: all .3s ease-in-out;
}
img:hover{
    scale: 1.05;
}
.center{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;

}